@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;700;900&display=swap");

:root {
  --link-color: rgb(235, 227, 227);
  --link-hover-color: rgb(33, 230, 128);
  --header-color: rgb(255, 255, 255);
  --font-m: 20px;
  --fontsize-s: 1rem;
  --fontsize-sm: 1.3rem;
  --fontsize-m: 1.5rem;
  --fontsize-links: 1.1rem;
  --fontsize-mr: 1rem;
  --fontsize-l: 2rem;
  --fontsize-header-web: 2.5rem;
  --fontsize-header-mobile: 1.3rem;
  --fontsize-xl: 6rem;
  --text-shadow-heavy: 2px 2px 5px hsl(0, 0%, 0%);
  --text-shadow-light: 2px 2px 5px hsl(0, 0%, 40%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(rgba(0, 0, 0, 0)),
    url(/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container h1 {
  font-size: var(--fontsize-header-web);
  color: var(--header-color);
  text-shadow: var(--text-shadow-heavy);
}

.profile_Bx img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  border-radius: 50%;
  border-bottom: 4px solid #46b517;
}
.cookieJar {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 0;
  overflow-x: hidden;
  text-align: center;
  height: 125px;
  background: rgba(30, 153, 191, 0.865);
  width: auto;
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 10px;
}
.cookieText h4 {
  color: aliceblue;
  text-shadow: var(--text-shadow-heavy);
}
.cookieText p {
  color: aliceblue;
  text-shadow: var(--text-shadow-heavy);
}
.btnJar {
  position: relative;
  justify-content: space-between;
  margin: 10px;
  text-align: center;
  font-size: 14px;
  align-items: center;
}
.edit_button {
  border: none;
  text-decoration: none;
  color: rgb(255, 254, 254);
  font-size: var(--fontsize-s);
  width: auto;
  font-weight: 700;
  background-color: rgba(22, 211, 22, 1);
  padding: 10px;
  border-radius: 10px;
  text-shadow: var(--text-shadow-light);
}
